<h1>Creatures</h1>
<div class="creatures">
  <div class="row">
    <% @creatures.each do |creature| %>
      <%= render partial: 'creature_card', locals: {creature: creature} %>
    <% end %>
  </div>
</div>