<h1>Orders</h1>
<ul class="orders">
  <% @orders.each do |order| %>
    <li id="order-<%=order.id%>">
      <%= link_to order.id, order_path(order) %>
      <%= order.created_at %>
      <%= order.total %>
    </li>
  <% end %>
</ul>
