.creature-card .card-content {
	position: absolute;
	bottom: 22px;
  left: 25px;
}

.creature-card .cart-action {
	text-align: center;
	position: absolute;
	bottom: 10px;
  left: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
  flex: 1 0 auto;
}

.pad-links {
  padding-left: 50px;
}
.side-nav .userView {
	padding: 16px 32px 0px 32px;
}

.side-nav .background {
	height: 100px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4c4c4c+0,595959+12,666666+25,474747+39,2c2c2c+50,000000+51,111111+60,2b2b2b+76,1c1c1c+91,131313+100;Black+Gloss+%231 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,45484d+100 */
	background: #000000; /* Old browsers */
	background: -moz-linear-gradient(45deg, #000000 0%, #45484d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #000000 0%,#45484d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #000000 0%,#45484d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#45484d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
