<h1>Categories</h1>
<ul class="categories">
  <% @categories.each do |category| %>
  <li id="category-<%=category.id%>">
    <div class="row">
      <%= link_to category.name, category_path(category.name) %>
      <% category.creatures.each do |creature| %>
      <%= render partial: 'creature_card', locals: {creature: creature} %>
      <% end %>
    </div>
  </li>
  <% end %>
</ul>